
@using Cobit_19.Shared.Dtos
@using Cobit_19.Business.ObjectiveAudits
@inject ObjectiveAuditProvider objectiveAuditProvider

@code {
    [Parameter]
    public FullObjectiveAuditDto auditJSON { get; set; }

    [Parameter]
    public int componentID { get; set; }

    [Parameter]
    public int subComponentID { get; set; }

    [Parameter]
    public int objectiveAuditId { get; set; }

    public List<ComponentQuestionDto>? compQuestions;
    public List<subComponentQuestionDto>? subCompQuestions;
    public SubComponentDto subComponent;
    public ComponentDto component;
    public List<subComponentQuestionDto> MLevelQuestions;
    public List<subComponentQuestionDto> relatedGuidanceQuestions;
    public string auditJsonString;


    protected override void OnInitialized()
    {
        if (subComponentID != -1)
        {
            subComponent = auditJSON.components[componentID].subComponents[subComponentID];
            subCompQuestions = subComponent.subComponentQuestions;
            MLevelQuestions = objectiveAuditProvider.GetSubComponentMLevelQuestions(subComponent);
            relatedGuidanceQuestions = objectiveAuditProvider.GetSubComponentRelatedGuidanceQuestions(subComponent);
        }
        else
        {
            component = auditJSON.components[componentID];
            compQuestions = component.componentQuestions;
        }
    }

    private void updateFullAudit()
    {
        auditJsonString = AuditJSONParsingService.auditTemplateSerializer(auditJSON);

        objectiveAuditProvider.updateAuditJSON(objectiveAuditId, auditJsonString);
    }
}

<div class="container">
    @if (componentID == 0)
    {
        <div class="row border p-2 mt-4">
            @if (subComponentID != -1)
            {
                <div class="col-sm text-center">@subComponent.subComponentCode - @subComponent.subComponentName</div>
            }
            <div class="col-sm text-center">Total: 0</div>
        </div>

        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Enterprise Goal</th>
                    <th>Importance</th>
                    <th>N (Not achieved)</th>
                    <th>P (Partially achieved)</th>
                    <th>L (Largely achieved)</th>
                    <th>F (Fully achieved)</th>
                    <th>Score</th>
                    <th>Comment</th>
                </tr>
            </thead>

            <tbody>
                @foreach (subComponentQuestionDto subCompQuestion in subCompQuestions)
                {
                    <tr>
                        <th>@subCompQuestion.questionDescription</th>
                        <th>
                            <select name="answer" @bind="subCompQuestion.questionAnswer" @oninput="updateFullAudit">
                                @for (int i = 0; i <= 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </th>
                        <th><div class="bg-danger rounded-3 text-center">X</div></th>
                        <th><div class="bg-warning rounded-3 text-center">X</div></th>
                        <th><div class="bg-success rounded-3 text-center">X</div></th>
                        <th><div class="bg-primary rounded-3 text-center">X</div></th>
                        <th>@subCompQuestion.questionScore</th>
                        <th>
                            <input type="text" />
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
    else if (componentID == 1)
    {
        <div class="row border p-2 mt-4">
            @if (subComponentID != -1)
            {
                <div class="col-sm text-center">@subComponent.subComponentCode - @subComponent.subComponentName</div>
            }
            <div class="col-sm text-center">Total: 0</div>
        </div>

        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Alignment Goal</th>
                    <th>Importance</th>
                    <th>N (Not achieved)</th>
                    <th>P (Partially achieved)</th>
                    <th>L (Largely achieved)</th>
                    <th>F (Fully achieved)</th>
                    <th>Score</th>
                    <th>Comment</th>
                </tr>
            </thead>

            <tbody>
                @foreach (subComponentQuestionDto subCompQuestion in subCompQuestions)
                {
                    <tr>
                        <th>@subCompQuestion.questionDescription</th>
                        <th>
                            <select name="answer" @bind="subCompQuestion.questionAnswer" @oninput="updateFullAudit">
                                @for (int i = 0; i <= 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </th>
                        <th><div class="bg-danger rounded-3 text-center">X</div></th>
                        <th><div class="bg-warning rounded-3 text-center">X</div></th>
                        <th><div class="bg-success rounded-3 text-center">X</div></th>
                        <th><div class="bg-primary rounded-3 text-center">X</div></th>
                        <th>@subCompQuestion.questionScore</th>
                        <th>
                            <input type="text" />
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
    else if (componentID == 2)
    {
        <div class="row border p-2 mt-4">
            @if (subComponentID != -1)
            {
                <div class="col-sm text-center">@subComponent.subComponentCode - @subComponent.subComponentName</div>
            }
            <div class="col-sm text-center">Total: 0</div>
        </div>

        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Level</th>
                    <th>Management Practices (MP) and Metrics to measure the achievement of the Management Practices (MP): </th>
                    <th>Importance</th>
                    <th>N (Not achieved)</th>
                    <th>P (Partially achieved)</th>
                    <th>L (Largely achieved)</th>
                    <th>F (Fully achieved)</th>
                    <th>Score</th>
                    <th>Comment</th>
                </tr>
            </thead>

            <tbody>
                @foreach (subComponentQuestionDto MLevelQuestion in MLevelQuestions)
                {
                    <tr>
                        <th>@MLevelQuestion.questionType</th>
                        <th>@MLevelQuestion.questionDescription</th>
                        <th>
                            <select name="answer" @bind="MLevelQuestion.questionAnswer" @oninput="updateFullAudit">
                                @for (int i = 0; i <= 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </th>
                        <th><div class="bg-danger rounded-3 text-center">X</div></th>
                        <th><div class="bg-warning rounded-3 text-center">X</div></th>
                        <th><div class="bg-success rounded-3 text-center">X</div></th>
                        <th><div class="bg-primary rounded-3 text-center">X</div></th>
                        <th>@MLevelQuestion.questionScore</th>
                        <th>
                            <input type="text" />
                        </th>
                    </tr>
                }
            </tbody>
        </table>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Related Guidance</th>
                    <th>Detailed Reference</th>
                    <th>Importance</th>
                    <th>N (Not achieved)</th>
                    <th>P (Partially achieved)</th>
                    <th>L (Largely achieved)</th>
                    <th>F (Fully achieved)</th>
                    <th>Score</th>
                    <th>Comment</th>
                </tr>
            </thead>

            <tbody>
                @foreach (subComponentQuestionDto relatedGuidanceQuestion in relatedGuidanceQuestions)
                {
                    <tr>
                        <th>@relatedGuidanceQuestion.relatedGuidance</th>
                        <th>@relatedGuidanceQuestion.detailedReference</th>
                        <th>
                            <select name="answer" @bind="relatedGuidanceQuestion.questionAnswer" @oninput="updateFullAudit">
                                @for (int i = 0; i <= 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </th>
                        <th><div class="bg-danger rounded-3 text-center">X</div></th>
                        <th><div class="bg-warning rounded-3 text-center">X</div></th>
                        <th><div class="bg-success rounded-3 text-center">X</div></th>
                        <th><div class="bg-primary rounded-3 text-center">X</div></th>
                        <th>@relatedGuidanceQuestion.questionScore</th>
                        <th>
                            <input type="text" />
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
    else if (componentID == 3)
    {
        <div class="row border p-2 mt-4">
            @if (subComponentID != -1)
            {
                <div class="col-sm text-center">@subComponent.subComponentCode - @subComponent.subComponentName</div>
            }
            <div class="col-sm text-center">Total: 0</div>
        </div>

        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Sub-Component</th>
                    <th class="col-12">Regarding the Organisational Structures above. For each management practice, look at the roles and responsibilities diagram according to your organisational context, and select a level of importance/relevance:</th>
                    <th>Importance</th>
                    <th>N (Not achieved)</th>
                    <th>P (Partially achieved)</th>
                    <th>L (Largely achieved)</th>
                    <th>F (Fully achieved)</th>
                    <th>Score</th>
                    <th>Comment</th>
                </tr>
            </thead>

            <tbody>
                @foreach (ComponentQuestionDto compQuestion in compQuestions)
                {
                    <tr>
                        <th>@compQuestion.questionType</th>
                        <th>@compQuestion.questionDescription</th>
                        <th>
                            <select name="answer" @bind="compQuestion.questionAnswer" @oninput="updateFullAudit">
                                @for (int i = 0; i <= 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </th>
                        <th><div class="bg-danger rounded-3 text-center">X</div></th>
                        <th><div class="bg-warning rounded-3 text-center">X</div></th>
                        <th><div class="bg-success rounded-3 text-center">X</div></th>
                        <th><div class="bg-primary rounded-3 text-center">X</div></th>
                        <th>@compQuestion.questionScore</th>
                        <th>
                            <input type="text" />
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
    else if (componentID == 4)
    {
        <div class="row border p-2 p-2 mt-4">
            @if (subComponentID != -1)
            {
                <div class="col-sm text-center">@subComponent.subComponentCode - @subComponent.subComponentName</div>
            }
            <div class="col-sm text-center">Total: 0</div>
        </div>

        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>From</th>
                    <th>Importance</th>
                    <th>N (Not achieved)</th>
                    <th>P (Partially achieved)</th>
                    <th>L (Largely achieved)</th>
                    <th>F (Fully achieved)</th>
                    <th>Score</th>
                    <th>Comment</th>
                </tr>
            </thead>

            <tbody>
                @foreach (subComponentQuestionDto subCompQuestion in subCompQuestions)
                {
                    <tr>
                        <th>@subCompQuestion.questionDescription</th>
                        <th>@subCompQuestion.inputFrom</th>
                        <th>
                            <select name="answer" @bind="subCompQuestion.questionAnswer" @oninput="updateFullAudit">
                                @for (int i = 0; i <= 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </th>
                        <th><div class="bg-danger rounded-3 text-center">X</div></th>
                        <th><div class="bg-warning rounded-3 text-center">X</div></th>
                        <th><div class="bg-success rounded-3 text-center">X</div></th>
                        <th><div class="bg-primary rounded-3 text-center">X</div></th>
                        <th>@subCompQuestion.questionScore</th>
                        <th>
                            <input type="text" />
                        </th>
                    </tr>
                }
            </tbody>
        </table>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>To</th>
                    <th>Importance</th>
                    <th>N (Not achieved)</th>
                    <th>P (Partially achieved)</th>
                    <th>L (Largely achieved)</th>
                    <th>F (Fully achieved)</th>
                    <th>Score</th>
                    <th>Comment</th>
                </tr>
            </thead>

            <tbody>
                @foreach (subComponentQuestionDto subCompQuestion in subCompQuestions)
                {
                    <tr>
                        <th>@subCompQuestion.questionDescription</th>
                        <th>@subCompQuestion.outputTo</th>
                        <th>
                            <select name="answer" @bind="subCompQuestion.questionAnswer" @oninput="updateFullAudit">
                                @for (int i = 0; i <= 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </th>
                        <th><div class="bg-danger rounded-3 text-center">X</div></th>
                        <th><div class="bg-warning rounded-3 text-center">X</div></th>
                        <th><div class="bg-success rounded-3 text-center">X</div></th>
                        <th><div class="bg-primary rounded-3 text-center">X</div></th>
                        <th>@subCompQuestion.questionScore</th>
                        <th>
                            <input type="text" />
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
    else if (componentID == 5)
    {
        <div class="row border p-2 mt-4">
            @if (subComponentID != -1)
            {
                <div class="col-sm text-center">@subComponent.subComponentCode - @subComponent.subComponentName</div>
            }
            <div class="col-sm text-center">Total: 0</div>
        </div>

        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Skills</th>
                    <th>Related Guidance (Standards, frameworks, Compliance Requirements)</th>
                    <th>Importance</th>
                    <th>N (Not achieved)</th>
                    <th>P (Partially achieved)</th>
                    <th>L (Largely achieved)</th>
                    <th>F (Fully achieved)</th>
                    <th>Score</th>
                    <th>Comment</th>
                </tr>
            </thead>

            <tbody>
                @foreach (ComponentQuestionDto compQuestion in compQuestions)
                {
                    <tr>
                        <th>@compQuestion.questionSkill</th>
                        <th>@compQuestion.relatedGuidance</th>
                        <th>
                            <select name="answer" @bind="compQuestion.questionAnswer" @oninput="updateFullAudit">
                                @for (int i = 0; i <= 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </th>
                        <th><div class="bg-danger rounded-3 text-center">X</div></th>
                        <th><div class="bg-warning rounded-3 text-center">X</div></th>
                        <th><div class="bg-success rounded-3 text-center">X</div></th>
                        <th><div class="bg-primary rounded-3 text-center">X</div></th>
                        <th>@compQuestion.questionScore</th>
                        <th>
                            <input type="text" />
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
    else if (componentID == 6)
    {
        <div class="row border p-2 mt-4">
            @if (subComponentID != -1)
            {
                <div class="col-sm text-center">@subComponent.subComponentCode - @subComponent.subComponentName</div>
            }
            <div class="col-sm text-center">Total: 0</div>
        </div>

        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Relevant policy</th>
                    <th class="col-12">Policy Description</th>
                    <th>Related Reference</th>
                    <th>Importance</th>
                    <th>N (Not achieved)</th>
                    <th>P (Partially achieved)</th>
                    <th>L (Largely achieved)</th>
                    <th>F (Fully achieved)</th>
                    <th>Score</th>
                    <th>Comment</th>
                </tr>
            </thead>

            <tbody>
                @foreach (ComponentQuestionDto compQuestion in compQuestions)
                {
                    <tr>
                        <td><h6>@compQuestion.relevantPolicy</h6></td>
                        <td><h6>@compQuestion.policyDescription </h6></td>
                        <td><h6>@compQuestion.detailedReference</h6></td>
                        <td>
                            <select name="answer" @bind="compQuestion.questionAnswer" @oninput="updateFullAudit">
                                @for (int i = 0; i <= 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </td>
                        <th><div class="bg-danger rounded-3 text-center">X</div></th>
                        <th><div class="bg-warning rounded-3 text-center">X</div></th>
                        <th><div class="bg-success rounded-3 text-center">X</div></th>
                        <th><div class="bg-primary rounded-3 text-center">X</div></th>
                        <td>@compQuestion.questionScore</td>
                        <td>
                            <input type="text" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else if (componentID == 7)
    {
        <div class="row border p-2 mt-4">
            @if (subComponentID != -1)
            {
                <div class="col-sm text-center">@subComponent.subComponentCode - @subComponent.subComponentName</div>
            }
            <div class="col-sm text-center">Total: 0</div>
        </div>

        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Key Culture Element</th>
                    <th>Detailed & Related Reference</th>
                    <th>Importance</th>
                    <th>N (Not achieved)</th>
                    <th>P (Partially achieved)</th>
                    <th>L (Largely achieved)</th>
                    <th>F (Fully achieved)</th>
                    <th>Score</th>
                    <th>Comment</th>
                </tr>
            </thead>

            <tbody>
                @foreach (ComponentQuestionDto compQuestion in compQuestions)
                {
                    <tr>
                        <th>@compQuestion.keyCultureElement</th>
                        <th>@compQuestion.detailedReference, @compQuestion.detailedReference</th>
                        <th>
                            <select name="answer" @bind="compQuestion.questionAnswer" @oninput="updateFullAudit">
                                @for (int i = 0; i <= 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </th>
                        <th><div class="bg-danger rounded-3 text-center">X</div></th>
                        <th><div class="bg-warning rounded-3 text-center">X</div></th>
                        <th><div class="bg-success rounded-3 text-center">X</div></th>
                        <th><div class="bg-primary rounded-3 text-center">X</div></th>
                        <th>@compQuestion.questionScore</th>
                        <th>
                            <input type="text" />
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
    else if (componentID == 8)
    {
        <div class="row border p-2 mt-4">
            @if (subComponentID != -1)
            {
                <div class="col-sm text-center">@subComponent.subComponentCode - @subComponent.subComponentName</div>
            }
            <div class="col-sm text-center">Total: 0</div>
        </div>

        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Importance</th>
                    <th>N (Not achieved)</th>
                    <th>P (Partially achieved)</th>
                    <th>L (Largely achieved)</th>
                    <th>F (Fully achieved)</th>
                    <th>Score</th>
                    <th>Comment</th>
                </tr>
            </thead>

            <tbody>
                @foreach (ComponentQuestionDto compQuestion in compQuestions)
                {
                    <tr>
                        <th>@compQuestion.questionDescription</th>
                        <th>
                            <select name="answer" @bind="compQuestion.questionAnswer" @oninput="updateFullAudit">
                                @for (int i = 0; i <= 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </th>
                        <th><div class="bg-danger rounded-3 text-center">X</div></th>
                        <th><div class="bg-warning rounded-3 text-center">X</div></th>
                        <th><div class="bg-success rounded-3 text-center">X</div></th>
                        <th><div class="bg-primary rounded-3 text-center">X</div></th>
                        <th>@compQuestion.questionScore</th>
                        <th>
                            <input type="text" />
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>