@using Cobit_19.Shared.Dtos

@code {
    [Parameter]
    public FullObjectiveAuditDto auditJSON { get; set; }

    [Parameter]
    public List<SubComponentDto> subComps { get; set; }

    [Parameter]
    public int compId { get; set; }

    [Parameter]
    public int objectiveAuditId { get; set; }

    public string selectedDiv;

    protected override void OnInitialized()
    {
        selectedDiv = subComps[0].subComponentCode;
    }

    private void ShowDiv(string divID)
    {
        selectedDiv = divID;
    }
}

<ul class="nav nav-pills nav-justified pb-3 center">
    @for (int i = 0; i < subComps.Count; i++)
    {
        SubComponentDto subComp = subComps[i];
        string selectedSubCode = subComp.subComponentCode;

        <li class="nav-item">
            <a class="@(selectedDiv == selectedSubCode ? "nav-link link-dark" + " active" : "nav-link link-dark")" role='button' @onclick='() => ShowDiv(subComp.subComponentCode)'>@subComp.subComponentCode</a>
        </li>
    }
</ul>

    @for (int i = 0; i < subComps.Count; i++)
    {
        SubComponentDto subComp = subComps[i];
        <div id=@subComp.subComponentCode style="@(selectedDiv == subComp.subComponentCode ? "display: block;" : "display: none;")" class="container border">
            <QuestionTable auditJSON="@auditJSON" componentID="@compId" subComponentID="@i" objectiveAuditId="@objectiveAuditId"/>
        </div>
    }

