@page "/DesignFactor"
@using Cobit_19.Business.Audits
@using Cobit_19.Business.FocusAreas;
@using Cobit_19.Shared.Dtos
@using Syncfusion.Blazor.Charts
@using Microsoft.AspNetCore.WebUtilities
@inject AuditProvider auditProvider
@inject FocusAreaProvider focusAreaProvider
@inject NavigationManager navigationManager

@code {
    protected DesignFactorDto? _designFactorDto;
    protected List<ObjectiveDto>? _objectiveDtos;

    [Parameter]
    [SupplyParameterFromQuery]
    public int AuditId { get; set; }
    [Parameter]
    [SupplyParameterFromQuery]
    public int DFId { get; set; }

    protected List<ObjectiveValueDto>? _mappedObjectives { get; set; }
    private int _isNextButtonDFId { get; set; } = -1;
    private int _isPreviousButtonDFId { get; set; } = -1;

    private enum UpdateType
    {
        answer,
        odds
    }

    //Constructor
    protected override async Task OnInitializedAsync()
    {
        _designFactorDto = await auditProvider.getDesignFactorFullAsync(AuditId, DFId);
        _objectiveDtos = await auditProvider.getObjectivesAsync();
        _mappedObjectives = MappingService.Calculate(_designFactorDto, _objectiveDtos);
        CheckNavButtons();
    }
    // Update values 
    private async Task Update(int questionId, UpdateType updateType, ChangeEventArgs args)
    {
        int value;
        if (int.TryParse(args.Value.ToString(), out value))
        {
            var old = _designFactorDto.Questions.First(x => x.ID == questionId).Answers.First();

            AnswerEditorDto answerEditorDto = new AnswerEditorDto()
            {
                AuditID = AuditId,
                QuestionID = questionId
            };

            if (updateType == UpdateType.answer)
            {
                answerEditorDto.Answer = value;
                answerEditorDto.Odds = old.Odds;
            }
            else
            {
                answerEditorDto.Answer = old.Answer;
                answerEditorDto.Odds = value;
            }

            await auditProvider.updateAnswerAsync(answerEditorDto);

            // I feel this is such a bad way to do this but i cant think of a better way
            _designFactorDto.Questions.First(x => x.ID == questionId).Answers.First().Answer = answerEditorDto.Answer;
            _designFactorDto.Questions.First(x => x.ID == questionId).Answers.First().Odds = answerEditorDto.Odds;

            _mappedObjectives = MappingService.Calculate(_designFactorDto, _objectiveDtos);
        }
    }

    // Used to check if the answer is selected
    private bool IsAnswerSelected(int answer, int option)
    {
        return answer == option;
    }

    // Nav buttons logic
    private void CheckNavButtons()
    {
        // Check if there is a next design factor
        var next = focusAreaProvider.GetNextDesignFactor(AuditId, DFId);

        if (next != null)
        {
            _isNextButtonDFId = next.ID;
        }
        else
        {
            _isNextButtonDFId = -1;
        }

        // Check if there is a previous design factor
        var prev = focusAreaProvider.GetPrevDesignFactor(AuditId, DFId);

        if (prev != null)
        {
            _isPreviousButtonDFId = prev.ID;
        }
        else
        {
            _isPreviousButtonDFId = -1;
        }
    }

    private void NavButtonPress(int navDFId)
    {
        var queryStrDict = new Dictionary<string, string>
            {
                ["AuditId"] = (AuditId).ToString(),
                ["DFId"] = (navDFId).ToString(),
            };
        navigationManager.NavigateTo(
            QueryHelpers.AddQueryString("/DesignFactor", queryStrDict)
        );
    }

    private AnswerDto getFirstAnswer()
    {
        return _designFactorDto.Questions.FirstOrDefault().Answers.FirstOrDefault();
    }
}

<AuthorizeView>
    <div class="container">
        <div class="row">
            <div class="col-9">
                @if (_designFactorDto is null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                {
                    <div class="border border-dark bg-light p-3">
                        <div>
                            <h3> Design Factor : @_designFactorDto.Description</h3>
                        </div>
                        @if (_designFactorDto.Questions.Count == 0)
                        {
                            <tr>
                                <td colspan="4">No questions found.</td>
                            </tr>
                        }
                        else
                        {
                            <table class="table border-3 table-bordered" >
                                <thead>
                                    <tr style="background-color: purple; color: white;">
                                        <th>Description</th>
                                        @if (getFirstAnswer().Odds == 0)
                                        {
                                            @if (getFirstAnswer().AnswerRange <= 8)
                                            {
                                                @for (int i = 1; i <= getFirstAnswer().AnswerRange; i++)
                                                {
                                                    <th>@i</th>
                                                }
                                            }
                                            else if (getFirstAnswer().AnswerRange == 100)
                                            {
                                                <th>Value(%)</th>
                                            }
                                            else
                                            {
                                                <th>Value(1 - @getFirstAnswer().AnswerRange)</th>
                                            }
                                        }
                                        else
                                        {
                                            <th>Value(1 - @getFirstAnswer().AnswerRange)</th>
                                            <th>Likelihood(1 - @getFirstAnswer().AnswerRange)</th>
                                        }
                                        <th>Baseline</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var q in _designFactorDto.Questions)
                                    {
                                        <tr>
                                            <td>
                                                @q.Question
                                            </td>
                                            @if (getFirstAnswer().Odds == 0)
                                            {

                                                @if (q.Answers.First().AnswerRange <= 8)
                                                {
                                                    @for (int i = 1; i <= q.Answers.First().AnswerRange; i++)
                                                    {
                                                        <td>
                                                            <input type="radio" name="@q.ID" id="@q.ID" value="@i"
                                                            class="form-check-input"
                                                            @onchange="((e) => Update(q.ID, UpdateType.answer, e))"
                                                            checked="@IsAnswerSelected(q.Answers.First().Answer, i)" />
                                                        </td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td>
                                                        <input type="number" name="@q.ID" id="@q.ID" min="0" max="@q.Answers.First().AnswerRange" value="@q.Answers.First().Answer"
                                                        class="form-control"
                                                        @onchange="((e) => Update(q.ID, UpdateType.answer, e))" />
                                                    </td>
                                                }
                                            }
                                            else
                                            {
                                                <td>
                                                    <input type="number" name="@q.ID" id="@q.ID" min="0" max="@q.Answers.First().AnswerRange" value="@q.Answers.First().Answer"
                                                    class="form-control"
                                                    @onchange="((e) => Update(q.ID, UpdateType.answer, e))" />
                                                </td> 
                                                <td>
                                                    <input type="number" name="@q.ID" id="@q.ID" min="0" max="@q.Answers.First().AnswerRange" value="@q.Answers.First().Odds"
                                                    class="form-control"
                                                    @onchange="((e) => Update(q.ID, UpdateType.odds, e))" />
                                                </td>
                                            }
                                            <td>
                                                <b>
                                                    @q.BaseAnswer
                                                </b>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                }

                @if (_designFactorDto is not null)
                {
                    <div class="container-fluid border-dark border mt-3 p-3 bg-light">
                        <div class="col">
                            <div class="panel panel-primary">

                                <div class="panel-heading p-2" style="color: white; background-color : purple">
                                    Data view - @_designFactorDto.Description
                                </div>

                                <div class="panel-body">
                                    <p>
                                        The output section of this tab contains the calculated relative importance of each of the 40 COBIT
                                        2019 governance and management objectives. The results are represented as a bar chart and as a spider diagram.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <DesignFactorChart Values="@_mappedObjectives"></DesignFactorChart>

                        <div class="row m-3">
                            <div class="col">
                                @if (_isPreviousButtonDFId != -1)
                                {
                            <button type="button" onclick="@(() => NavButtonPress(_isPreviousButtonDFId))" class="btn btn-primary btn-lg">Back</button>
                                }
                            </div>
                            <div class="col">
                                <div class="float-end">
                                    @if (_isNextButtonDFId != -1)
                                    {
                                        <button type="button" onclick="@(() => NavButtonPress(_isNextButtonDFId))" class="btn btn-primary btn-lg">Next</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col">
                @if (_designFactorDto is not null)
                {
                ;
                    <InfoPannel Header="Info Panel">
                        <Body>
                            <div>
                                <p>@_designFactorDto.Information</p>
                            </div>
                        </Body>
                    </InfoPannel>
                }
            </div>
        </div>
    </div>
</AuthorizeView>

