@using Cobit_19.Business.FocusAreas;
@using Cobit_19.Shared.Dtos;
@using Cobit_19.Shared.Enums;
@inject FocusAreaProvider focusAreaProvider
@inject NavigationManager navigationManager

@code {
    [Parameter]
    public string userID { get; set; }
    [Parameter]
    public int focusAreaID { get; set; }
    protected IEnumerable<AuditDto> audits;
    protected int rowCounter = 1;

    protected override void OnParametersSet()
    {
        LoadAudits();
    }

    private void LoadAudits()
    {
        audits = focusAreaProvider.GetAuditsForFocusAreaByUserID(userID, focusAreaID);
        StateHasChanged();
    }


   /* private string FormatAuditStatus(AuditStatus status)
    {
        if (status == AuditStatus.NotStarted)
        {
            return "Not Started";
        }
        else if (status == AuditStatus.InProgress)
        {
            return "In Progress";
        }
        else if (status == AuditStatus.Completed)
        {
            return "Completed";
        }
        else
        {
            return null;
        }
    }*/

    private string FormatAuditStatus(AuditStatus status)
     {
         if (status == AuditStatus.NotStarted)
         {
             return "Inactive";
         }
         else if (status == AuditStatus.InProgress)
         {
             return "Active";
         }
         else if (status == AuditStatus.Completed)
         {
             return "Active";
         }
         else
         {
             return null;
         }
     }

    private void AuditSelectionClick(int auditID)
    {
        navigationManager.NavigateTo($"/Audit?AuditId={auditID}");
    }
}

<table class="table table-hover table-striped">
    <thead style="">
        <tr>
            <th colspan="5">
                <div class="ibox-title">
                    <h5>
                        <strong>Select Audit</strong>
                    </h5>
                </div>
            </th>
        </tr>
        <tr>
            <th style="background-color: purple; color: white;">#</th>
            <th style="background-color: purple; color: white;">Active/Inactive</th>
            <th style="background-color: purple; color: white;">Name</th>
            <th style="background-color: purple; color: white;">Date Created</th>
            <th style="background-color: purple; color: white;"></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var audit in audits)
        {
            <tr>
                <td>@(rowCounter++)</td>
                <td>
                    @if (FormatAuditStatus(audit.Status) == "Active")
                    {
                        <span class="badge bg-success">@FormatAuditStatus(audit.Status)</span>
                    }
                    else if (FormatAuditStatus(audit.Status) == "Inactive")
                    {
                        <span class="badge bg-danger">@FormatAuditStatus(audit.Status)</span>
                    }
                </td>
                <td>@audit.Name</td>
                <td>@audit.DateCreated</td>
                <td><button type="button" class="btn btn-success btn-sm" @onclick='() => AuditSelectionClick(audit.ID)'>Select</button></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" class="text-right">
                <NavLink href="/userhome">
                    <button class="btn btn-primary">Back</button>
                </NavLink>
            </td>
        </tr>
    </tfoot>
</table>






