@page "/DesignFactor"
@using Cobit_19.Business.Audits
@using Cobit_19.Shared.Dtos
@inject AuditProvider auditProvider

@code {
    protected int auditId = 1;
    protected DesignFactorDto _designFactorDto;

    protected override async Task OnInitializedAsync()
    {
        if(_designFactorDto == null)
        {
            _designFactorDto = await auditProvider.getDesignFactorFullAsync(1, 1);
        }
    }

    private int Answer;

    public int MyProperty
    {
        get { return Answer; }
        set { Answer = value; }
    }

    private async void RadioSelection(int questionId, ChangeEventArgs args)
    {
        int answ = -1;
        if (int.TryParse(args.Value.ToString(), out answ))
        {
            AnswerEditorDto answerEditorDto = new AnswerEditorDto()
            {
                AuditID = auditId,
                QuestionID = questionId,
                Answer = answ
            };

            await auditProvider.updateAnswerAsync(answerEditorDto);
        }
    }

    private bool IsAnswerSelected(int answer, int option)
    {
        return answer == option;
    }
}

<div class="row">
    <div class="col-lg-9">
        <div>
            <div>
                <div>
                    @if (_designFactorDto is null)
                    {
                        <p><em>Loading...</em></p>
                    }
                    else
                    {
                        <div>
                            <h5>@_designFactorDto.Description</h5>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        <th>@i</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var q in _designFactorDto.Questions)
                                {
                                    <tr>
                                        <td>
                                            @q.Question
                                        </td>
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            <td>
                                                <input type="radio" name="@q.ID" id="@q.ID" value="@i"
                                                    @onchange="((e) => RadioSelection(q.ID, e))"
                                                    checked="@IsAnswerSelected(q.Answers.First().Answer, i)" />
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
