@using Cobit_19.Business.FocusAreas;
@using Cobit_19.Shared.Dtos;
@inject FocusAreaProvider focusAreaProvider

@code {
    [Parameter]
    public string userID { get; set; }
    IEnumerable<FocusAreaDto> focusAreaList;

    protected override void OnInitialized()
    {
        focusAreaList = focusAreaProvider.GetFocusAreasByUserID(userID);
    }
}
<p>@userID</p>
<table class="table border-3 table-bordered">

    <tr>
        <th>Activity</th>
        <th>Name</th>
        <th>Description</th>
        <th>Completion</th>
    </tr>

@foreach (var focusArea in focusAreaList)
{
    <tr>
        <td>@focusAreaProvider.GetFocusAreaActivityStatus(userID, focusArea.ID)</td>
        <td>@focusArea.Name</td>
        <td>@focusArea.Description</td>
        <td>@focusAreaProvider.GetFocusAreaCompletionStatus(userID, focusArea.ID)</td>
        <td><button>Begin Assesment</button></td>
    </tr>   
}
</table>